<tabset>
    <tab heading="Profile" id="tab1">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Profile</h4>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" placeholder="Enter your name ..." style="width: 350px">
                </div>
                <div class="form-group">
                    <label for="name">Email</label>
                    <input type="email" class="form-control" placeholder="Enter your email ..." style="width: 350px">
                </div>
                <button type="button" name="btnProfile" id="btnProfile" class="btn btn-primary">
                    Update profile
                </button>
            </div>
        </div>
    </tab>
    <tab heading="Change Password">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Change Password</h4>
                <div class="form-group">
                    <label for="opassword">Old password</label>
                    <input type="password" class="form-control" placeholder="Enter your old password ..." style="width: 350px">
                </div>
                <div class="form-group">
                    <label for="npassword">New password</label>
                    <input type="password" class="form-control" placeholder="Enter your new password ..." style="width: 350px">
                </div>
                <div class="form-group">
                    <label for="cnpassword">Confirm new password</label>
                    <input type="password" class="form-control" placeholder="Enter your new password ..." style="width: 350px">
                </div>
                <button type="button" name="btnChangePassword" id="btnChangePassword" class="btn btn-primary">
                    Update password
                </button>
            </div>
        </div>
    </tab>
</tabset>